@font-face { 
	font-family: Bread; 
	src:url('bread/Bread.otf')
}

nav img {
	margin-left: calc(50% - 200px);
	margin-top: 200px;
	width: 400px;
}
nav span {
	position: absolute;
	text-align: center;
	width: 100%;
	font-family: Bread;
	font-size: 50px;
	margin-top: 253px;
	left: 0;
}
nav a {
	display: block;
	margin-bottom: 68px;
}